<div class="main-container">
  <div class="listing-layout">
    <h2 id="title">Spend time with...</h2>
    <%= render 'shared/card-listings-l' %>
  </div>
  <div><%= render 'shared/map' %></div>
</div>