<div class="banner">
  <%= render '/shared/banner' %>
</div>
<div class="row">
  <div class="col-8">
    <h1>Find a favorite activity</h1>
    <%= render 'shared/card-listings-l' %>
  </div>
  <div class="map col-4">
  </div>
</div>