<div class="row">
  <div class="col-8">
    <h1>Find a favorite activity</h1>
    <%= render 'shared/card-listings-l' %>
  </div>
  <div id="map"class="col-4">
    <%= render 'shared/map' %>
  </div>
</div>