<div class="main-container">
  <div class="listing-layout">
    <h1>Find a favorite activity</h1>
    <%= render 'shared/card-listings-l' %>
  </div>
  <div id="map">
    <%= render 'shared/map' %>
  </div>
</div>