<div class="container">
  <div class="listing-show-title">
    <h2><%= @listing.title.capitalize %></h2>
  </div>
  <div class="listing-photo">
    <%= image_tag "https://images.pexels.com/photos/3662630/pexels-photo-3662630.jpeg?cs=srgb&dl=pexels-cottonbro-3662630.jpg&fm=jpg", class: "listing-photo" %>
  </div>
  <div class="listing-content">
    <%= render 'shared/profile-booking' %>
    <%= render 'shared/listing-content' %>
  </div>
</div>