<div class="page-wrapper">
  <div class="row">
    <div class="column">
      <div class="left-column">
      </div>
    </div>
    <div class="column">
      <div class="right-column">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1> 
        <p><%= @user.age_range %></p>
        <p>Language</p>
        <% if @listing.user.nil? %> <p>"Location" %></p>
        <% end %>
        <br>
        <h2>Description</h2>
        <p>I lived in France when I was a child, and studied education in college. Even though I work as an accountant at a cosmetics company, I love spending time with kids. On the weekend, I usually cycle around Tokyo or play tennis with friends.</p>
        <br>
        <h2>Contact Info</h2>
        <% if @user.phone_number.nil? %>
          <p>Phone number: Verified <i class="far fa-check-circle"></i></p>
        <% end %>
        <br>
        <h2>Skills</h2>
        <p>Cooking, French, 20 years playing tennis, Outdoors, Humor</p>
      </div>
    </div>
  </div>
</div>
