<div class="card-listing">
  <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" %>
  <div class="card-listing-info">
    <div>
      <h2>Interactive activites you can do together, led by expert hosts.</h2>
    </div>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "card-listing-user avatar-bordered" %>
  </div>
</div>
