<div class="user-photo">
  <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "Profile Picture" %>
  <% if current_user.listings %>
    <%= link_to 'My listings', user_listings_path(current_user), class: "btn btn-secondary" %>
  <% end %>
  <% if current_user.phone_number %>
    <p>Phone number: Verified <i class="far fa-check-circle"></i></p>
  <% end %>
</div>
