<div class="main-container">
  <div class="listing-layout">
    <h2>All listings by <%= @user.first_name %></h2>
    <%= render 'shared/card-listings-l' %>
  </div>
  <div><%= render 'shared/map' %></div>
</div>