<div class="container profile-container">
  <div class="listing-content">
    <div class="profile-booking">
      <%= render 'shared/see-listings-full-name' %>
      <%= render 'shared/phone-number-verified' %>
    </div>
    <div class="listing-content-right">
      <%= render '/shared/user-details' %>
      <%= link_to 'Return to the listing', listing_path(@listing), class: "btn btn-secondary" %>
    </div>
  </div>
</div>