<div class="window">
  <%= render '/shared/banner' %>
</div>
<div class="container">
  <br>
  <h2>Top Caregivers</h2>
  <div class="card">
    <%= render 'shared/listing-card' %>
    <%= render 'shared/listing-card' %>
    <%= render 'shared/listing-card' %>
  </div>
</div>