<div class="window">
  <%= render '/shared/banner' %>
</div>
<div class="container">
  <br>
  <h2>Top Caregivers</h2>
  <div class="card">
    <%= render 'shared/listing-card' %>
    <%= render 'shared/listing-card' %>
    <%= render 'shared/listing-card' %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/zuccamia/sharecare"><i class="fab fa-github"></i></a>
    <p class="footer-copyright">About developers</p>
  </div>
  <div class="footer-copyright">
    Share Care is made with <i class="fas fa-heart"></i> by Marisa, Norah and Hongjoo
  </div>
</div>