<div class="page-wrapper">
  <div class="row">
    <div class="column">
      <div class="left-column">
        <%= image_tag "https://www.pexels.com/photo/woman-smiling-and-holding-teal-book-1181424/", class: "rounded-circle", alt: "Profile Picture" %>
      </div>
    </div>
    <div class="column">
      <div class="right-column">
        <h1>Sasaki Michiyo<h1> <i class="fas fa-female"></i>
        <br>
        <p>Age</p>
        <p>Language</p>
        <p>Meguro, Tokyo</p>
        <br>
        <h2>Description</h2>
        <p>I lived in France when I was a child, and studied education in college. Even tough I work as an accountant at a cosmetics company, I love spending time with kids. On the weekend, I usually cycle around Tokyo or play tennis with friends.</p>
        <br>
        <h2>Contact Info</h2>
        <p>Email: michiyo.sasaki@gmail.com</p>
        <p>Phone number: Verified</p> <i class="far fa-check-circle"></i>
        <br>
        <h2>Skills</h2>
        <p>Cooking, French, 20 years playing tennis, Outdoors, Humor</p>
      </div>
    </div>
  </div>
</div>
