<div class="page-wrapper">
  <div class="row">
    <div class="left-column p-5">
      <%= render '/shared/user-profile-photo' %>
    </div>
    <div class="right-column p-5">
      <%= render '/shared/user-details' %>
      <div class="booking-section">
        <h2>Bookings received</h2>
        <%= render '/shared/received-booking-card' %>
      </div>
      <div class="booking-section">
        <h2>My bookings</h2>
        <%= render '/shared/my-booking-card' %>
      </div>
    </div>
  </div>
</div>
