body {
  position: relative;
  margin: 0;
  padding-top: 0px;
  background-color: #F3F0E6;
}

.container {
  margin: auto;
  padding-bottom: 60px;
}

.short-card-grid {
  width: auto;
  padding-bottom: 10px;
}
