.book-action-btn {
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  margin-top: 24px;
  background: #2A5C88;
  transition: background 0.3s ease;
  border-width: 0px !important;
  border-style: outset;
  border-color: #F2F0E6 !important;
}

.book-action-btn:hover {
  background: #173e60;
  text-decoration: none;
  color: white;
  border-width: 0px !important;
    border-style: outset;
    border-color: #F2F0E6 !important;
}


.skill-tag-btn {
  color: white;
  padding: 8px 16px;
  border-radius: 50px;
  margin: 8px;
  background: #2A5C88;
  transition: background 0.3s ease;
  border-width: 0px !important;
  border-style: outset;
  border-color: #F2F0E6 !important;
}
