.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: $black;
}

.card-booking .card-booking-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 0;
}
