.card-listing {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-listing > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-listing h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-listing p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-listing .card-listing-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-listing-info .card-listing-user {
  position: absolute;
  right: 16px;
  top: -50px;
  width: 40px;
}
