.card-listing-l {
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  background-color: white;
  margin-right: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

.listing-layout {
  margin-left: 16px;
  margin-top: 16px;
}

.listing-image {
  flex-grow: 1;
  border-radius: 20px 0px 0px 20px;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.profile {
  position: absolute;
  left: 16px;
  top: 30px;
  width: 150px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 50px;
  text-align: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.profile-name {
  padding: 12px;
  font-size: 16px;
}


.listing-info {
  position: relative;
  padding: 10px;
  padding-right: 30px;
  color: black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3px;
  flex-grow: 1;
}

.location {
  position: absolute;
  right: 16px;
  top: -16px;
  width: 80px;
  height: 20px;
  background: #A1A1A1;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.listing-title {
  font-style: bold;

}

.service_description {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.listing-fee {
  padding-top: 60px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
