.card-listings {
  padding-right: 0px;
}

.sub-container {
  margin-top: 24px;
  margin-left: 16px;
}

.card-listing-l {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 48px 24px 24px 24px;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  background-color: white;
}


.card-listing-l:hover {
  background-color: #2A5C88;
  color: white;
}


.card-listing-border {
  height: 360px;
  width: 80%;
}

.listing-layout h2 {
  margin-top: 24px;
  padding-left: 20px;
}

.profile-l {
  position: absolute;
  left: 16px;
  top: 30px;
  width: 150px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 50px;
  text-align: center;
}

.profile-img-l {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.profile-name-l {
  margin-top: 4px;
  font-size: 16px;
  text-align: center;
}


.listing-info-l {
  padding: 10px;
  padding-right: 30px;
  color: black;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}

.location-l {
  position: absolute;
  margin-right: 10px;
  right: 16px;
  top: 20px;
  width: 80px;
  height: 20px;
  background: #A1A1A1;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.listing-title-l {
  margin-top: 24px;
  font-style: bold;
}

.service_description-l {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.service_description-l p {
  font-size: 12px;
}

.listing-fee-l {
  padding-top: 60px;
  text-align: right;
  justify-content: space-between;
  align-content: flex-end;
}
