.listing-show {
  overflow: hidden;
}

.listing-show .listing-photo {
  height: 400px;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 20px;
}

.listing-show h2 {
  font-size: 20px;
  padding-right: 20px;
  margin: 0;
}

.listing-show p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.listing-infos {
  border-bottom: 1px solid rgba(0,0,0,0.125);
  padding-top: 32px;
  padding-bottom: 32px;
}

.profile-photo-full-name {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  text-align: center;
}

.owner-photo {
  right: 50px;
  top: -50px;
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}


.full-name-link {

}

.book-action-btn {
  text-align: center;
}

.listing-content {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}

.listing-show-title h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.listing-show-items {
  margin-top: 48px;
  box-sizing: border-box;
}

.listing-show-item {
  margin-top: 0px !important;
  margin-bottom: 24px;
  display: flex;
}
