.listing-show-title h2 {
  padding-top: 24px;
  padding-bottom: 12px;
}
.listing-photo {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.profile-photo-full-name {
  position: relative;
  margin-bottom: 48px;
  background-color: white;
  border-radius: 50px 50px 50px 50px;
  p {
    text-align: center;
    padding-top: 12px;
  }
}

.profile-photo-full-name-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.profile-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 24px 0px 24px;
}

.owner-photo {
  width: 200px;
  height: 200px;
  border-radius: 50px 50px 0px 0px;
  object-fit: cover;
}

.full-name-link a {
  font-size: 16px;
  text-height: 0px;
  text-align: center;
  text-decoration: none;
}

.book-action-btn {
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  margin-top: 24px;
  background: #2A5C88;
  transition: background 0.3s ease;
}

.book-action-btn:hover {
  background: #173e60;
  text-decoration: none;
  color: white;
}

.listing-content {
  display: flex;
}

.listing-show-title h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.listing-show-items h2 {
  font-weight: bolder;
  font-size: 24px;
}

.listing-show-item {
  margin-top: 0px !important;
  margin-bottom: 24px;
  display: flex;
}

.listing-show-item-sheading {
  padding-left: 24px
}

.listing-content {
  margin-top: 48px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  grid-gap: 32px;
  flex-grow: 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .listing-content {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .listing-content {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .listing-content {
    grid-template-columns: 1fr 2fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .listing-content {
    grid-template-columns: 1fr 2.5fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .listing-content {
    grid-template-columns: 1fr 2.5fr;
  }
}
